@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;  
}
:root {
    /* seccion colores */
    --acento-luz: #E63946;
    --acento: #A12831;
    --acento-oscuro: #271010;
    --prim: #271010;
    --prim-luz1: #261818;
    --prim-luz2: #393131;
    --prim-luz3: #0D85F5;
    --prim-sombra1: #FEF9F9;
    --prim-sombra2:  #374957;
    --prim-sombra3: #746464;
    --blanco: #FEF9F9;
    --blanco-oscuro: #E5F4FF;
    --negro: #23282B;
    --especial: #34D919; 
    --acentonuevo: #6700dd;
    --error: #f50606;
}

/*home*/
button {
    background-color: #E63946;
    display: flex;
    width: 345px;
    height: 54px;
    align-items: center;
    justify-items: center;
}
/* nav responsive */

.primariosombra2{
    background-color: rgba(57, 49, 49, 1);
}

.navhome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.5em;
}
.logoplaneta {
    width: 80%;
    height: 50%;
}

.hamburguer-menu button{
    margin-left: 1em;
    margin-right: 1em;
    border: 0;
}

#imgburguer {
    width: 1.5rem;
    height: 1.5rem;
}
.logoretrogemas{
    width: 80%;
    display: flex;
    align-items: center;
}
.imglogoretrogemas{
    width: 40%;
    display: flex;
    align-items: center;
}
.titulo {
    display: flex;
    align-items: center;
}
.titulo h1{
    margin-left: 0.25em;
    font-size: medium;
}

.iconosnav{
    width: 20%;
    display: flex;
    align-items: center;
    padding-right: 1em;
    padding-left: 0.5em;
}
.buscarnav{
    width: 30%;
    display: flex;
    align-items: center;
    text-align: right;
}

.img-buscar {
    width: 100%;
    display: flex;
    width: 75%;
      
}


.carritoDesplegado{
    padding: 0.1em;
    width: auto;
    height: auto;
    background-color: var(--prim-sombra3);
    position: absolute;
    top: 7.5%;
    display: flex;
    z-index: 3;
    color: var(--negro);

}   

.carritoDesplegado{
    display: none;
}

.carrito button {

    width: 1.5em;
    height: 1.5em;
    border: 0;
}


.carrito button img {
    width: 100%;
    
}
.perfil, .carrito{
    width: 50%;
    height: 50%;
    text-align: right;
    
}

.perfil button{
    width: 1.5em;
    height: 1.5em;
    border-radius: 9em;
    margin-right: 0.8em;
    border: 0;
}
.perfil button img {
    width: 100%;
    border-radius: 50%;
    object-fit:cover;
    display: flex;
    margin-right: 1em;
}

.footerhome{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgba(57, 49, 49, 1);;
    width: auto;
}

.footerhome button {
    text-align: left;
    margin: 1em 0 1.5em 1.2em;
    display: flex;
    align-items: center;
    border: 0;
    width: auto;
    background-color: rgba(57, 49, 49, 1);;
    color: var(--blanco);
    cursor: pointer;
}

/* desplegables footer */
.footerulhidden {
    display: none;
}

.footerhome div ul {
    display: none;
}

.footerhome div ul.show {
    display: block;
    font-size: 0.7em;
    margin-left: 1.5em;
    margin-bottom: 2em;
    list-style: none;
}

.footerhome div ul li:hover {
    color: var(--prim);
}

.footerhome div ul li {
    margin-bottom: 0.5em;
}




/*cards responsive*/


.tachado {
    text-decoration: line-through;
}

.oferta {
    color: var(--acentonuevo);
}

.btn {
    border-radius: 0.2em;
    justify-content: center;
}
.main {
    height: 100%;
    overflow: hidden; 
    background-color: #261818;
}
.carruselcompleto {
    width: 100%;
    padding: 0.25em;
    height: auto;
    overflow: hidden;
}
.imgcarruselprincipal{
    width: 100%;
    height: 100%;
    position: relative;
}
.carruselscroll {
    width: 100%;
    height: 12em;
}
.imgcardsresponsive {
    margin: 0.25em; 
    width: 5.25em;
    height: 5em;
}
.carrusel {
    display: flex;
    margin-bottom: 1em;
    width: 100%;
    position: relative;
}


.card {
  width: 6em;
  height: 10em;
  margin-left: 1em;
  background-color: #746464;
  box-shadow: 1px 0px 5px var(--prim-sombra3);
  border: 1px solid var(--negro);
  z-index: 1;
  position: relative;
}
.h2 {
    width: auto;
    font-size: 12px;
    margin-left: 1.50em;
    margin-top: 0.50em;
    margin-bottom: 0.50em;
}
.h3 {
    font-size: 10px;
}

.precio {
    margin-bottom: 2em;
    margin-right: 0.25em;
}

.otra {
    margin-top: 0;
}

.jugar  {
    width: 2.75em;
}
.jugar img{
    width: 0.75em;
    height: 0.75em;
}

.textobtn {
    font-size: 10px;
}
.añadiralcarro{
    width: 7em;
    margin-top: 0.35em;
}


.añadiralcarro p, .añadiralcarro button {
    margin-left: 0.50em;
}

.jugar button, .btnañadiralcarro, .btnsacardelcarro {
    border: 0;
    width: 100%;
    background-color: #E63946;
    height: 1.5em; 
}

.sacardelcarro {
    margin-top: 0.7em;
    display: flex;
    align-items: center;
}
.btnsacardelcarro{
    width: 6.8em;
}

.hidden {
    display: none;
}
.cardhidden{
    display: none;
}

.jugar button:hover, .añadiralcarro button:hover, .sacardelcarro button:hover {
    background-color: #A12831;
}
/*preguntar*/
.imgincart {
    width: 0.7em;
    height: 0.8em;
    margin: 0 0.25em 0.25em 0.25em;
}

.botoncarrusel {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%; 
    border: 0;
    position: absolute;
    left: 23.5em;
    bottom: 4.5em;
    z-index: 3;
    box-shadow: 1px 0px 5px var(--prim-sombra3);
}
.botoncarrusel img {
    width: 100%;
    height: 100%;
    border: white;
    border: none;
    margin: 0;
    padding: 0;
    display: inline;
}
.gratis{
    display: flex;
    align-items: center;
    padding: 0.25em;
    color: var(--blanco);
    width: 3em;
    text-align: center;
    height: 1.5em;
    background-color: #374957;
    margin-right: 1em;
}

.jugargratis {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
}


/*  Seccion Formulario Registro */
.retrogemas-logo{
    display: flex;
    flex-direction:row;
    size: 20px;
   
}
.retrogemas h1{
    text-align: left;
    color: #E63946;
    font-family: 'SuperPixel';
    src: url("/EntregaFinal/asset/fonts/SuperPixel.ttf") format('ttf');
}
button a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 20px;
}


.btn-google-container img {
    margin-right: 0.5em;
}

.btn-facebook-container img {
    margin-right: 0.5em;
}
.margenregister {
    margin-right: 2.5em;
}


.form-register-container {
    width: 25.65em;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.linea {
    display: inline-block;
    width: 4.06294rem;
    height: 0.0625rem;
    background-color: var(--blanco);
    margin: 1em 0;
}

.registrarse {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    padding-bottom: 0.4em;
    align-items: center;
    text-justify: center;
    
}

.registrarse h1{
    font-style: normal;
    font-weight: normal;
    color: #fff;
    text-justify: center;
   }
.form-register {
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: self-start;

}
.form-register label {
    color: var(--blanco);
    width: auto;
    height: 1.3125rem;
}
.lineaingresar {
    display: inline-block;
    width: 6.06294rem;
    height: 0.0625rem;
    background-color: var(--blanco);
    margin: 1em 0;
}

.contraseñaerror {
    margin-top: 0em;
    width: 370px;
    height: 40px;
    border: 1px solid var(--blanco-oscuro);
    border-radius: 0.5rem;
    color: var(--gris);
    outline: 0;
    margin-bottom: 1em;
    padding: 0.7em;
    margin-bottom: 0.8em;
}

.labelflexlogin label {
    margin-bottom: 1em;
}


.errorred {
    color: var(--error);
}


.errorinput {
    border: 1px solid var(--error);
}
.diverrorvisible {
    text-align: center;
    margin-top: 2em;
    height: 1em;
    width: 100%;
    color: var(--error);
}

.diverrorcontra {
    display: none;
}
.diverrorcontravis {
    color: var(--error);
    width: 100%;
    height: 2em;
}

.diverrorcontraflex{
    display: flex;
    align-items: center;
    color: var(--error);
    width: 30em;
    height: 2em;
    font-size: 13px;
}

.labelflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.labelflex label {
    width: 100%;
    height: auto;
    font-size: 10px;
}
.labelflex label span {
    width: 10em;
}

.tickvisible {
    display: block;
    width: 1.5em;
   height: 100%;
}
.icoformerrorvis {
    width: 1em;
    height: 1em;
    display: block;
    margin-right: 2em;
}
/* iniciar sesion */

.btn-inisesion-container button a{
color: 000;
}

.btn-registrarse-container{
    margin-left: 3em;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 270px;
    height:54px;
    background-color: var(--acento);
    border-radius: 0.5em;
}
.btn-captcha-container button {
    background-color:white;
    margin-left: 3em;
}

.colorblanco {
    color: var(--blanco);
    font-size: 12px;
}
a.colorblanco{
    text-decoration:underline;
}

.btn-registrarse-container button {
    width: 9.9375rem;
    height: 2.8125rem;
    background-color: var(--acento--);
    border: 0;
}

.h4 {
    font-size: 10px;
}
.textonegro{
    color: var(--negro);
}

.fb-login-button {
    padding: 2px;
}

.linea-btns-google-face{
    width: 25.875rem;
    height: 0.0625rem;
    background-color: var(--blanco);
   
}

.tienesCuenta {
    width: 100%;
    text-align: center;
}

.tienesCuenta h2, span {
    color: var(--blanco);
    font-family: Roboto;
    font-size: 1.12544rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tienesCuenta span {
    margin-left: 0.4em;
}

.tienesCuenta span a {
    color: var(--prim);
}

.linea3 {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    height: 0.0625em;
    background-color: var(--blanco);
}



/* Seccion Juego */

.main-game-container {
    width: 100%;
    height: auto;
    background-color: #271010;  /* Variable: acento v3*/
    background-size: cover;
    display: flex;
    justify-content: center;
}

.sub-container {
    width: 99%;
    height: auto;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-color: #271010;  /* Variable: acento v3*/
}

.sub-sub-container {
    width: 95%;
}


.broadcrum {
    display: flex;
    margin-bottom: 0.5em;
    align-items: left;
    flex-direction: column;

}

.broadLink {
    color: var(--blanco);
    text-decoration: none;
}

.broadLink:hover {
    color: var(--prim-luz2);
    cursor: pointer;

}

.TextosBroadcrum {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.logoH1 {
    display: flex;
    align-items: center;
}

.TextosBroadcrum h1 {
    font-family: Roboto;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0.25em;
}

.TextosBroadcrum h3 {
    font-family: Roboto;
    font-size: 0.9rem;
    font-style: bold;
    font-weight: 500;
    line-height: normal;
}

.TextosBroadcrum p {
    font-family: Roboto;
    font-size: 0.9rem;
    font-style: bold;
    font-weight: 500;
    line-height: normal;
}

.LogoBroadcrum img {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    width: 4rem;
    height: 4rem;
    border: 1px solid white;
}

.linegameone {
    height: 0.04em;
    background-color: var(--blanco);
}

.game-container {
    margin-top: 0.7em;
    position: relative;
}

li:hover {
    color: var(--prim);
}

.cerrarSesion {
    color: var(--prim);
}

.juegoColocado {
    
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    
}



.game-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.info-game {
    margin-top: 10px;
    height: auto;
    display: flex;
    justify-content: left;
    margin-bottom: 2em;
    width: 100%;
    background-color: #271010;
}

.deQueTrata {
    text-align: left;
    width: 95%;
}

.descripcion {
    padding-top: 10px;
}

.descripcion ol {
    list-style-position: inside;
    display: inline-block;
    width: 100%;
    font-size: 1.125em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    color: white;
}

.deQueTrata h3 {
    font-family: Roboto;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
}

.deQueTrata .imgsGame {
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;

}






.MomentosIncreibles {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-left: 10%;
}

.videos {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.videos video {
    width: 45%;
    height: 10em;
    object-fit:cover;
}

.imgsGame {
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.imgsGame img {
    width: 45%;
    height: 10em;
    object-fit: fill;
}

.imgsRedes {
    width: 100%;
    margin-top: 1em;
    display: flex;
}

.imgsRedes img {
    width: 45%;
    height: 5em;
    
}

.links {
    font-size: 1.6em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--blanco);
    list-style: none;
    text-align: left;
   
}

.listaLinks {
    width: 100%;
      

}

.community-section {
    height: 72.4em;
}

.lineacomentarios {
    width: 100%;
    height: 0.2em;
    background-color: var(--blanco);
}

.ult-coment-titulo {
    width: 100%;
    display: flex;
    justify-content:left;
    
    
}

.ult-coment-titulo h2 {
    font-size: 1.6em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--blanco);
    
}

.tituloComentarios {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
}



.dejaTuComentario {
    display: flex;
    justify-content:space-between;
    margin-top: 2.5em;
    width: 100%;
}

.tituloLogoInput {
    display: flex;
    flex-direction: column;
    color: var(--blanco);

}

.tituloLogoAstronauta {
    display: flex;
    justify-content: center;
    height: 3em;
    align-items: center;
    margin-top: 1em;
}

.tituloLogoAstronauta h2 {
    font-size: 1.625em;
    padding-left: 0.2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.tituloLogoAstronauta img {
    width: 1.96581rem;
    height: 2rem;
    
}

.ponerReseña {
    
    width: 50%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 2em;
}

.inputReseña {
    margin-top: 0.5em;
}

.inputReseña input {
    width: 100%;
    height: 13.5em;
    background-color: var(--prim-sombra3);
    border-radius: 0.3125rem;
    border: var(--blanco) solid 0.075em;
}

.calificarJuego {
    display: flex;
    margin-top: 0.5em;
    justify-content: left;
    align-items: center;
}

.calificarJuego p {
    font-size: 1.625em;
    margin-right: 0.5em;
}

.estrellas {
    width: 9.70063rem;
    height: 1.48313rem;
    display: flex;
    align-items: flex-end;
}

.estrellas img {
    width: 1.48288rem;
    height: 1.5rem;
    margin-right: 0.4em;
}

.btn-comment {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 2.1em;
}

.btn-comment button {
    width: 7.33481rem;
    height: 2.8125rem;
    border-radius: 0.375em;
    background-color: rgba(116, 100, 100, 1);
    color: var(--blanco, #F5FBFF);
    text-align: center;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03rem;
    border: 0;
}

.reseñas {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.reseña {
    width: 100%;
    height: 8.89863rem;
    background-color: rgba(116, 100, 100, 1);
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    color: var(--blanco);
    border: var(--blanco) solid 0.2em;
}

.inputReseña {
    width: 100%;
    height: 8.89863rem;
    background-color: rgba(57, 49, 49, 1);
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    color: var(--blanco);
    border: var(--blanco) solid 0.2em;
}

.reseñaInterna {
    display: flex;
    justify-content: space-between;
}

.imgUser {
    width: 20%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    display: flex;
}

.textoReseña {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-right: 2%;

}

.imgUser img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    
    object-fit:cover;
    border: var(--blanco) solid 0.2em;
}

.cj1Reseña {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.cj1Reseña img {
    width: 2.93394em;
    height: 2.5em;
    
    
} 

.username {
    font-family: Roboto;
    font-size: 1.625em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;

}

.fecha {
     font-family: Roboto;
    font-size: 1.42106rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.04263rem;
}

.estrReseña {
    width: 9.70063em;
    height: 1.5em;
}

.estrReseña img {
    width: 9.70063rem;
    height: 1.5rem;
}

.cj2Reseña {
    margin-top: 1em;
    width: 100%;
    height: 3.52238rem;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    display: flex;
    justify-content: center;
}

.cj2Reseña p {
    width: 38em;
}

.inputReseña .cj2Reseña p {
    background-color: rgba(116, 100, 100, 1);
    border-radius: 0.5em;
    padding: 2%;
}

.publicidad {
    width: 50%;
    height: 38.8em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.publicidad img:first-child {
    width:  75%;
    height: 12.67575rem;
}

.publicidad img:last-child {
    width:  75%;
    height: 26.1875rem;
}

/* Menus compartir y ayuda desplegables */

.btn-help button {
    background: #141515;
    border: 0;
    color: var(--acento-luz);
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 0.377em;
    z-index: 200;
    border: 1px solid var(--acento-luz);
}

.btn-help button.show {
    width: 3.3125rem;
    height: 1.1875rem;
    margin-right: 2.5em;
    margin-top: 2em;
    font-size: medium;
}

.btn-help {
    position: absolute;
    width: 6.375rem;
    height: 2.1875rem;
    border: 0.12em solid var(--acento-luz);
    border-radius: 0.377em;
    background: #141515;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* boton jugar desplegado */

.btn-jugar-desplegado {
    display: none;
}

.btn-jugar-desplegado.show {
    position: absolute;
    width: 25.5em;
    height: 3.75em;
    border: 0.12em solid var(--acento-luz);
    border-radius: 0.377em;
    background: #141515;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    top: 0em;
    color: var(--blanco);
}

.btn-jugar-desplegado.show p:first-child {
    margin-top: 0.5em;
}

.btn-jugar-desplegado.show p {
    width: 100%;
    margin-bottom: 0.5em;
    margin-right: 2em;
    font-size: medium;
}

.imgsHelp {
    margin-right: 1em;
    margin-left: 3.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mouse {
    width: 2.1875em;
    height: 2em;
    margin-left: 0.3em;
}

.mouse img {
    width: 100%;
}

.flechas {
    width: 1.5rem;
    height: 1.625rem;
    display: flex;
}

.flechas img {
    width: 100%;
}


/* boton comparti desplegable */


.btn-comp.show {
    font-size: 1.25rem;
    width: 2.375rem;
    height: 0.1875rem;
    margin-top: 0.7em;
    margin-left: 3em;
}

.btn-compartir {
    position: absolute;
    width: 6.375rem;
    height: 2.1875rem;
    text-align: left;
    margin-left: 88.3%;
}


.btn-compartir button {
    width: 6.375rem;
    height: 2.1875rem;
    border-radius: 0.377em;
    background-color: var(--prim-sombra3);
    color: var(--blanco);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin-left: 2em;
    position: absolute;
    z-index: 200;
}

.btn-compartir button div {
    width: 10.65138em;
    height: 4.6875em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.btn-compartir button img {
    width: 1em;
    height: 1em;
    display: flex;
    margin-right: 0.25em;
}

.btn-compartir button div p { 
    padding-left: 0.2em;
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 


/* desplegado compartir */

.btn-compartir-desplegado {
    position: absolute;
    width: 28.6875rem;
    height: 5.5rem;
    background-color: var(--prim-sombra3);
    margin-left: 58%;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.377em;
}

.btn-compartir-desplegado.show {
    display: flex;
}


.btn-compartir-desplegado button {
    display: flex;
    width: 6.3125rem;
    height: 2.75rem;
    justify-content: space-evenly;
    align-items: center;
    border: 0;
    border-radius: 1.1875rem;
    margin-top: 2em;
}

.btn-compartir-desplegado button img {
    width: 1.1875rem;
    height: 1.07319rem;
}


.wsp {
    background-color: var(--acento-luz);
    color: var(--blanco);
}

.google {
    background-color: var(--blanco);
}

.gmail {
    background-color: #000;
    color: var(--blanco);
}

.facebook {
    background-color: var(--prim);
    color: var(--blanco);
}


/* loader */

.all {
    visibility: hidden;
}

.all.show {
    visibility: visible;
}

#percentage {
    display: flex;
    color: var(--blanco);
    font-size: 24px;
    margin-top: 10px;
    justify-content: center;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #271010; /* Asegúrate de que el color cubra toda la pantalla */
    transition: visibility 5s;
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.loader-hidden {
    visibility: hidden;
}

.progress-bar-container {
    position: relative;
    width: 500px;
    height: 40px;
    background-color: var(--acento);
    overflow: hidden;
    margin-top: 1em;
}

.progress-bar {
    width: 0; /* Comienza desde 0% */
    height: 100%;
    background-color: var(--acento-luz);
    transition: width 0.1s ease;
    transform-origin: left; /* Asegura que la animación comience desde la izquierda */
}

/* DESPLEGABLES */

/* PERFIL */

.perfilDesplegado, .carritoDesplegado, .hamburguer-menu-desplegado {
    display: none;
}

.perfilDesplegado.show, .carritoDesplegado.show, .hamburguer-menu-desplegado.show {
      padding: 0.1em;
      width: auto;
      height: auto;
      background-color: var(--prim-sombra3);
      position: absolute;
      top: 7.5%;
      display: flex;
      z-index: 3;
      color: var(--blanco);
}

.perfilDesplegado.show {
    right: 0;
} 


.carritoDesplegado.show {

    /* left: 15.8em; */
    right: 15%;
} 


.hamburguer-menu-desplegado.show {
    left: 0;
}



.perfilDesplegado.show ul, .carritoDesplegado.show ul, .hamburguer-menu-desplegado.show ul {
    font-size: small;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    list-style: none;
}

.perfilDesplegado.show ul a, .carritoDesplegado.show ul a, .hamburguer-menu-desplegado.show ul a {
    text-decoration: none;
    color: var(--blanco);
}

.perfilDesplegado.show ul a:hover, .carritoDesplegado.show ul a:hover, .hamburguer-menu-desplegado.show ul a:hover {
    text-decoration: none;
    color: var(--prim);
}















/* Scroll carrusel */

.trespuntitos {
    display: flex;
    z-index: 6;
    position: absolute;
    top: 13.5em; 
    left: 8.5em;
}

.trespuntitos div{
    border-radius: 5em;
    width: 0.7em;
    height: 0.7em;
    margin: 0.5em;
    background-color: var(--blanco-oscuro);
    opacity: 0.9;
}
.trespuntitos div:first-child{
    background-color: #ff4500;
}

/* galeria */

.galeria {
    display: flex;
    width: 100%;
    height: 430px;
}

.galeria img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5 ease;
}

.galeria img:hover {
    cursor: crosshair;
    width: 25%;
    opacity: 1;
    filter: contrast(120%);

}


/* Hovers botones*/

/* Hovers botones*/

/* primer-hover-boton */
.primer-hover-boton {
    /* color de fuente */
   border-radius: 3px; /* redondear bordes */
   position: relative;
   z-index: 1;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .primer-hover-boton:hover {
   color: #fff;/* color de fuente hover */
 }
 .primer-hover-boton::after {
   content: "";
   background: rgba(161, 40, 49, 1); /* color de fondo hover */
   position: absolute;
   z-index: -1;
   padding: 16px 20px;
   display: block;
   left: -20%;
   right: -20%;
   top: 0;
   bottom: 0;
   transform: skewX(45deg) scale(0, 1);
   transition: all 0.3s ease;
 }
 .primer-hover-boton:hover::after {
   transition: all 0.3s ease-out;
   transform: skewX(45deg) scale(1, 1);
 }

/* segundo hover boton*/

.segundo-hover-boton {
/* color de fondo */
   padding: 16px 20px;
   border-radius: 3px; /* redondear bordes */
   position: relative;
   z-index: 1;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
}

.segundo-hover-boton:hover {
   color: #fff; /* color de fuente hover */
}

.segundo-hover-boton::after {
   content: "";
   background: rgba(161, 40, 49, 1); /* color de fondo hover */
   position: absolute;
   z-index: -1;
   padding: 16px 20px;
   display: block;
   top: 0;
   bottom: 0;
   left: -100%;
   right: 100%;
   transition: all 0.35s;
}

.segundo-hover-boton:hover::after {
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   transition: all 0.35s;
}


/* tercer hover boton */

.tercer-hover-boton {
     /* color de fondo */
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.tercer-hover-boton::before, .tercer-hover-boton::after  {
    content: "";
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: -50%;
    background: var(--acento-luz); /* color de fondo hover */
    transition: all 0.3s ease-in-out;
}

.tercer-hover-boton::after {
    left: 100%;
}

.tercer-hover-boton:hover {
    color: #fff; /* color de fuente hover */
}

.tercer-hover-boton:hover::before {
    left: 0;
}

.tercer-hover-boton:hover::after {
    left: 50%;
}

/* cuarto hover boton */

.cuarto-hover-boton {


    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cuarto-hover-boton:hover {
    color: #fff;/* color de fuente hover */
  }
.cuarto-hover-boton::after {
    content: "";
    background: var(--acento-luz); /* color de fondo hover */
    position: absolute;
    z-index: -1;

    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0) rotate(-180deg);
    transition: all 0.3s ease;
  }
  .cuarto-hover-boton:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1) rotate(0deg);
  }


  /* carrusel */

  .container-carousel {
    position: relative;
    width: auto;
    height: 15em;
    background-color:#261818;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    overflow: hidden;
}

.carruseles {
    width: 1000%;
    height: 100%;
    display: flex;

}

.slider-section {
    width: calc(100% / 3);
    height: 100%;
}

.slider-section img {
    width: 25em;
    height: 15em;
    object-fit: cover;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #A12831;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}


.btn-left img {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    
}

.btn-right img {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
}
.btn-left img:hover {
    opacity: 70%;
}

.btn-right img:hover {
    opacity:70%;
}

.btn-left {
    left: 0.1em;
}

.btn-right {
    right: 0.1em;
}







/* carrusel cards celular*/

.card h3 {
    margin-left: 0.50em;
    height: auto;
}



.carruselprincipal {
    display: flex;
    width: 200%;
    height: auto;
    flex-wrap: nowrap;
    overflow: hidden; 
    margin-top: 0em;
    margin-bottom: 1em;
}

.h2 {
    margin-top: 1.5em;
}

.cincocards {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease; /*agrega una transicion suave*/
}

.btn-left-cards {
    position: absolute;
    z-index: 100;
    left: 0em;
    width: 2em;
    height: 2em;
}

.btn-right-cards{
    position: absolute;
    z-index: 100;
    right: 1em;
    width: 2em;
    height: 2em;
}


.btn-left-cards img {
    width: 100%;
    border-radius: 50%;
}
.btn-left-cards img :hover{
   opacity: 70%;
}

.btn-right-cards img{
   width: 100%;
   border-radius: 50%;
}
.btn-right-cards img :hover{
    opacity: 70%;
 }


/* botones posicion */


.primero {
    top: 25em;
}

.segundo {
    top: 38em;
}

.tercero {
    top: 50.5em;
}

.cuarto {
    top: 63em;
} 


/* clases animaciones botones izq der carrusel cards */

.transformacion-izquierda {
    transform: translateX(0%) skew(-5deg);
    transition: transform 0.5s ease;
  }
  
  .transformacion-derecha {
    transform: translateX(-100%) skew(5deg);
    transition: transform 0.5s ease;
  }
  
  .transformacion-reset {
    transform: translateX(0%) skewX(0deg);
    transition: transform 0.5s ease;
  }

  .transformacion-reset-dos {
    transform: translateX(-100%) skewX(0deg);
    transition: transform 0.5s ease;
  }







@media only screen and (min-width: 1024px) {
    


/* carrusel cards */

.card h3 {
    margin-left: 1em;
    height: auto;
}

.carruselprincipal {
    display: flex;
    width: 200%;
    height: auto;
    flex-wrap: nowrap;
    overflow: hidden; 
    margin-top: 1em;
    margin-bottom: 1.6em;
}



.cincocards {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease; /*agrega una transicion suave*/
}

.btn-left-cards {
    position: absolute;
    z-index: 100;
    left: 0em;
    width: 3em;
    height: 3em;
}

.btn-right-cards{
    position: absolute;
    z-index: 100;
    right: 1em;
    width: 3em;
    height: 3em;
}


.btn-right-cards img {
    width: 100%;
    opacity:30%;
}
.btn-left-cards img {
    opacity:30%;
    width: 100%;
}

.btn-right-cards img:hover{
    opacity: 70%;
}
.btn-left-cards img:hover{
    opacity: 70%;
 }


/* botones posicion */


.primero {
    top: 40em;
}

.segundo {
    top: 66em;
}

.tercero {
    top: 92em;
}

.cuarto {
    top: 118em;
} 


/* clases animaciones botones izq der carrusel cards */

.transformacion-izquierda {
    transform: translateX(0%) skew(-5deg);
    transition: transform 1s ease;
  }
  
  .transformacion-derecha {
    transform: translateX(-100%) skew(5deg);
    transition: transform 1s ease;
  }
  
  .transformacion-reset {
    transform: translateX(0%) skewX(0deg);
    transition: transform 1s ease;
  }

  .transformacion-reset-dos {
    transform: translateX(-100%) skewX(0deg);
    transition: transform 1s ease;
  }










/* carrusel tres imagnees */
  .container-carousel {
    position: relative;
    width: auto;
    height: 20em;
    background-color: #261818;
    box-shadow: 0 0.5em 2em 0 rgba(0, 0, 0, 0.66);
    overflow: hidden;
  
}

label {
    color: var(--blanco);
}

.slider-section img {
    width: 85.5em;
    height: 20em;
    object-fit: fill;
}

.btn-left {
    left: 0.3em;

}

.btn-right {
    right: 0.3em;
  
}

.btn-left img {
    width: 2em;
    height: 2em;
    opacity:30%;
}

.btn-right img {
    width: 2em;
    height: 2em;
    opacity: 30%;
}



/* main */

.main {
    height: 100%;
    width: 100%;
    background-color: #271010;
    background-size: cover;
    overflow: hidden; 

}
.carrusel {
    display: flex;
    margin-bottom: 1em;
    width: auto;
    position: relative;
}
.botoncarrusel {
    width: 5em;
    height: 5em;
    border-radius: 50%; 
    border: 0;
    position: absolute;
    left: 95.5em;
    bottom: 7em;
    z-index: 3;
    box-shadow: 1px 0px 5px var(--prim-sombra3);
}
.botoncarrusel img {
    width: 100%;
    height: 100%;
    border: white;
    border: none;
    margin: 0;
    padding: 0;
    display: inline;
}
.slider {
    width: 34em;
    height: 20em;
    aspect-ratio: 16/ 16;
    object-fit: fill;
}

.slider img {
    width: 100%;
}

/* menus desplegados desktop */
.perfilDesplegado.show {
    width: 10em;
    height: 16em;
    position: absolute;
    top:  4.8125rem;
    /* left: 21.7em; */
    display: flex;
    padding: 0.5em 0.5em 2.5em 1.5em;
    background-color: rgba(57, 49, 49, 1);
    text-align: left;
    align-items: center;
    opacity: 0.9;
    justify-content: center;
    z-index: 3;
} 

.perfilDesplegado.show ul li {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    text-align: left;
    
}

.perfilDesplegado.show ul li:first-child {
    margin-top: 20%;
    
}



.carritoDesplegado.show {
    
    width: 8.5rem;
    height: 7rem;
    position: absolute;
    top:  4.8125rem;
    /* right: 10%; */
    right: 8%;
    display: flex;
    font-size: medium;
    background-color: rgba(57, 49, 49, 1);
    padding: 0.5em 0.5em 0.5em 0.8em;
    align-items: center;
    text-align: left;
    z-index: 3;
} 

.carritoDesplegado.show ul li {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    text-align: left;
}

.hamburguer-menu-desplegado.show {

    width: 7em;
    height: 15em;
    background-color: rgba(57, 49, 49, 1);
    position: absolute;
    top:  4.8125rem;
    left: 0;
    display: flex;
    justify-content:left;
    align-items: center;
    z-index: 3;
}

.hamburguer-menu-desplegado.show ul li {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    text-align: left;
}

header ul {
    list-style: none;
    color: var(--blanco);
}

header ul a {
    text-decoration: none;
    color: var(--blanco);
}

button {
    cursor: pointer;
}

/* nav responsive */

.primariosombra2{
    background-color: rgba(57, 49, 49, 1);
}

.navhome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.8125rem;

}
.logoplaneta {
    width: 18em;
    height: 2em;
}


.hamburguer-menu button{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1.5em;
    border: 0;
}
.logoretrogemas{
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.buscarnav{
    width: 30%;
    display: flex;
    align-items: center;
}

.img-buscar {
    width: 100%;
    display: flex;
    width: 75%;
      
}

.titulo {
    display: flex;
    align-items: center;
    height: 4.6em;
}

.titulo h1 {
   font-size: 2em;
}




.iconosnav{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.carrito {
    width: auto;
}

.carrito button {
   width: 1.96938rem;
    height: 1.875rem;
    border: 0;
}
.carrito button img {
    width: 100%;
}

#imgburguer {
    width: 3em;
    height: 3em;
}

.perfil {
    width: auto;
    
}

.perfil button{
    width: 4rem;
    height: 3.6875rem;
    border-radius: 9em;
    margin-left: 3.5em; /* mover carrito */
    margin-right: 0.5em;
    border: 0;
}
.perfil button img {
    width: 70%;
}
/*footer responsive*/

.footerhome{
    display: flex;
    flex-direction: row;
    height: 12em;
}

.footerhome button {
    display: flex;
    align-items: center;
    border: 0;
    width: 7em;
    margin-left: 0;
    color: var(--blanco);
    cursor: pointer;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: default;
    margin-bottom: 0.5em;
}

.footerhome button img {
    display: none;
}

.footerhome .footerulhidden {
    display: flex;
}

.footerhome {
    width: 100%;
    justify-content: space-evenly;
}

.footerulhidden {
    flex-direction: column;
    list-style: none;
    text-align: left;
}

.footerhome div {
    text-align: left;
    margin-top: 1em;
}


.footerhome ul li {
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.5em;
}
.footerhome ul {
    margin-right: 1em;
}
.diverror {
    background-color: red;
}
.footerhome div ul.show {
   margin: 0;
}


/*cards desktop*/

.cardhidden{
    display: block;
}

.carruselscroll {
    width: 100%;
    height: 16em;
}

.carruselcompleto {
    width: 100%;
    height: auto;
}
.card {
    /*width 15em*/
    width: 15em;
    height: 21em;
    margin-left: 1.5em;
    background-color:#746464;
    box-shadow: 1px 0px 5px var(--prim-sombra3);
    border: 1px solid var(--negro);
    z-index: 1;
    position: relative;
}
.carrusel h3 {
    width: auto;
    margin-left: 1em;
}

.gratis p {
    text-align: center;
    
}

.gratis p, .jugar button, .btnañadiralcarro, .sacardelcarro button {
    font-size: large;
}

.jugargratis {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.1em;
}


.jugar button, .btnañadiralcarro, .btnsacardelcarro {
    border: 0;
    width: 100%;
    background-color: #E63946;
    height: 3em; 
}



.gratis , .jugar{
    margin-top: 0.5em;
    text-align: center;
    width: 6em;
    height: 3em;
}
.gratis{
    margin-bottom: 1.5em;
    margin-right: 5em;
}
.jugar{
    margin-bottom: 0.25em;

}
.jugar button img {
    margin-right: 0.25em;
}

.jugar button {
    height: 2em;
}


.imgcardsresponsive {
    margin: 1em; 
    width: 13em;
    height: 13em;
}

.precio {
    display: flex;
    align-items: flex-start;
    width: 13.5em;
    margin-top: 0.7em;
    margin-left: 0.5em;
    justify-content: left;
}

.ofertaprecio {
    display: flex;
    flex-direction: column;
}
.precio button {
    width: 100%;
    height: 2em;
}

.precio div {
    display: flex;
    align-items: center;
}

.h3 {
    font-size: 1em;
}



.sacardelcarro{
    padding: 0.7em;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sacardelcarro button {
    height: 2em;
}

.imgincart{
    width: 1.9em;
    height: 2em;
}
.h2 {
    margin-left: 1em;
    font-size: 14px;
}
}

.registroexitoso{
    background-color: var(--acento-luz);
    width: 25em;
    height: 2.5em;
    text-align: center;
    border-radius: 2em;
    color: #000;
   
}

.pulse{
  animation: pulse 1.5s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--acento-luz); }

}


.añadiralcarro button{
    margin-top: 0em;
    padding: 0 0.2em;
    width: auto;
}

.btnsacardelcarro{
    width: auto;
    margin-left: 0em;
    padding: 0 0.2em;
}


.btnanadiralineado{
    margin-bottom: 1em;
}

/*ale*/
.mySlides {
    display: none;
    overflow: hidden;
    margin-top: 44px;
    height: 400px;
}

.mySlides img {
    vertical-align: middle;
    width: 1250px;
    height: 300px;
    background-size: cover;
    object-fit: cover;
    filter: blur(3px);
    border-radius: 10px;
    height: 400px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 95%;
  height: 400px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 6px;
  width: 6px;
  margin: 0 2px;
  background-color: #A12831;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #E63946;
  height: 8px;
  width: 8px;

}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Pagina Index */

.register{
    background-image: url(../asset/images/fondo.png);
    background-size:cover;
    width: 1440px;
    height: 832px;
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 2px;
}

.register-container{
    width: 500px;
    height: 600px; 
    display: flex;
    background-color:#261818;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    align-items: center;
}

.retrogema-logo{
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content:center;
    padding-left:32px;
    padding-bottom: 30px;   
}

.button-register-container {
    display: flex;
    flex-direction: column;
}
.tituloRegister {
    width: 299px;
    height: 24px;
    display: flex;
    font-family: Roboto;
    align-items: center;
    margin-bottom: 0em;
    padding-bottom: 2px;
}

.login{
    display: inline-block;
    text-align: center;
    font-size: 13px;
    font-family: Roboto;
    padding-bottom: 0.4em;
    align-items: center;
    text-justify: center;
    padding-bottom: 5%;
}
.textoblanco{
    color: white;
    padding-bottom: 2%;
   
}
.btn-google-face, .btn-registrate-inisesion {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.btn-registrate-container button {
    width: 345px;
    height: 54px;
    background-color:#E63946;
    border-radius: 1em;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
    margin-bottom: 1.5em;
    color: #000;
}

.btn-google-container button {
    width: 345px;
    height: 54px;
    background-color: var(--blanco);
    border-radius: 1em;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 2 rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.5em;
}

.btn-google-container button a{
    color: black;
}
.btn-facebook-container img {
    margin-right: 0.5em;
}
.facebook{
    size: 20px;
}
.btn-facebook-container button {
    background-color: #0D85F5;
    border: 0;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    padding-top: 2%;
}
.btn-facebook-container button a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 20px;
}
.lineaBtnGoogleFace {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    margin-top: 1.5em;
}
.lineaBtnGoogleFace p{
    display: inline;
    color: var(--blanco);
    font-size: 0.75em;
    margin: 0 1em;
}

.linea2 {
    width: 155px;
    height: 1.94px;
    background-color: var(--blanco);  
    
}


.btn-registrate-container button, .btn-inisesion-container button {
    width: 345px;
    height: 54px;
    background-color:#E63946;
    border-radius: 1em;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: #000;
}
.btn-inisesion-container button:hover, .btn-registrate-container button:hover {
    background-color: #A12831;
    width: 345px;
    height: 54px;
    border-radius: 1em;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    color: #000;
  }

.imgIconos {
    padding-right: 10px;
    height: 30px;
    width: 40px;
}
/* iniciar sesion */
.inicio-container{
    width: 1440px;
    height: 700px;
    display: flex;
    background-image: url(../asset/images/fondo.png);
    background-size:cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-inicio-container{
    width: 500px;
    height: 521px;
    padding: 5%;
    display: flex;
    justify-content:center;
    background-color:#261818;
    flex-direction: column;
    align-items:center;
}

.form-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    margin-left: 1em;
    width: 400px;
    height: 300px;
    background-color: #746464;
    border-radius: 2%;
    padding: 4%;
    margin-top: 2px;
}
.form-inicio label{
    color:#000;
}

.retrogema-logo-inicio{
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content:center;
    padding-bottom: 30px;   
}

.inputForm {
    margin-top: 0em;
    width: 370px;
    height: 54px;
    border-radius: 1em;
    background-color: white;
    border: 1px solid var(--blanco-oscuro);
    border-radius: 0.5rem;
    font-family: Roboto;
    color: var(--gris);
    margin-bottom: 1em;
    padding: 0.7em;
    margin-bottom: 0.8em;
}

.btn-inises-container button {
    width: 370px;
    height: 44px;
    background-color:#E63946;
    border-radius: 1em;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 1.5em;
    color: #000;

}
.btn-inises-container button:hover {
    background-color: #A12831;
    width: 370px;
    height: 44px;
    border-radius: 1em;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 15px;
    margin-bottom: 1.5em;
    color: #000;
  }
.olvidasteContraseña{
    text-decoration: underline;
    color: #000;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*formulario Registro */

.registro{
    background-image: url(../asset/images/fondo-registro.png);
    background-size:contain;
    width: auto;
    height: 1161px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.registro-container{
    background-color:#261818;
    width: 700px;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.formularioRegistro{
    background-color: #746464;
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 389px;
    height: 650px;
    padding-left: 10px;
  }
  .tituloRegistrate{
    display: flex;
    flex-direction: column;
    width: 389px;
    padding-left: 10px;
    align-items:initial;
    padding-bottom: 10px;
  }
  .tituloRegistrate h3{
  display: flex;
  padding-bottom: 20px;
  font-size: 25px;
}
  #fname {
    width: 175px;
    height: 40px;
    margin-right: 20px;
    padding-right: 50px;

  }
  .fname{
    width: 175px;
    height: 40px;
    margin-right: 132px;
    margin-top: 10px;
  }
 
  #lname{
    width: 175px;
    height: 40px;
  }

  .flastname{
   padding-bottom: 10px; 
  }
  #nickname, #contraseña, #repetircontraseña{
    width: 370px;
    height: 40px;
  }
  .espacioInput{
    padding-bottom: 10px;
  }
  .edad{
    width: 73px;
    height: 40px;
    margin-right: 45px;
  }
 #edad{
    width: 73px;
    margin-right: 20px;
    height: 40px;
  }
  #mail{
    width: 278px;
    height: 40px;
  }
  .obligatorio{
    text-align: left;
    color:#FB2020;
    font-size: 18px;
  }
  .btn-captcha-container{
    width: 270px;
    height:40px;
    border-radius: 0.125rem;
    border: 1px solid var(--gris, #000000);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.rectanguloCaptcha{
    width: 1.50em;
    height:1.50em;
    border: 1px solid #000000;
    margin-left: 2em;
    margin-right: 1em;
}
.icoerrorhidden {
    display: none;
}
.registroexitoso p {
    color: black;
}
.img-captcha {
    margin-left: 1em;
    margin-top: 2px;
}
.texto {
    color: white;
    font-size: robotic;
}
.diverror {
    background-color: red;
}
.btn-registro-container button{
    background-color:#E63946;
    border-radius: 1em;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
    margin-bottom: 1.5em;
    color: #000;
    width: 370px;
    height: 54px;
    border-radius: 1em;
}
.btn-registro-container button:hover{
background-color: #A12831;
    width: 370px;
    height: 54px;
    border-radius: 1em;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
    margin-bottom: 1.5em;
    color: #000;
}
.retrogema-logo-registrate{
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content:center;
    padding-left:8px;
    padding-bottom: 30px;   
}